{{> header}}

<script src="/socket.io/socket.io.js"></script>
<script src="js/handle-chat.js"></script>

<div class="container">

<h1>
node chat test
</h1>

<input type="text" id="nick"/>
<button id="set-nick">Set nick</button>

<div id="chatEntries">
	<div id="chatControls">	
        <input type="text" id="messageInput"/>
        <button id="submit"> Send </button>
    </div>
</div>

<div class="online-users">
<h3> online users </h3>
</br>

<ul id="users">
</ul>

</br>
<hr>
<button id="exit">Exit</button>

</div>


</div>
{{>footer}}