#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
    margin: 0 auto -30 0;
}


#footer {
  height: 30px;
}

#footer p
{
    padding-top: 12px;
}
