#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
    margin: 0 auto -30 0;
}


.full-height{
	height: 100%;
}

.sidebar {
	padding: 20px;
	padding-left:30px;
}

.sidebar , .sidebar a {

	font-size: 1.2em;
} 

.nick {
	font-size: 1.2em;
	padding-top:20px;
}

.title {
	padding-top:1.2em;
	font-size: 2.5em;
}

.users-list {
	height: 50%;
	padding:10px;
	border:thin dashed #ddd;
}

.user-list-title {
	font-size: 1.4em;
	font-family: sans-serif;
}

.user {
	font-size : 1.5em;
	font-style: italic;
	text-transform: capitalize;
}

.badge {
	background-color: #d9534e;
}

#footer {
  height: 30px;
}

#footer p
{
    padding-top: 12px;
}
